{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "DEVELOPMENT": false,
    "PRODUCTION": false,
    "__DEBUG__": false,
    "sinon": false,
    "expect": false,
    "assert": false
  },
  "rules": {
    "no-console": 0,
    "valid-jsdoc": 1,
    "react/jsx-key": 2,
    "react/jsx-filename-extension": 0,
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "indent": ["error", 4],
    "block-spacing": [2, "always"],
    "new-parens": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 1,
    "prefer-template": 2,
    "max-len": [1, 120],
    "function-paren-newline": [0, "never"],
    "react/default-props-match-prop-types": 2,
    "react/no-array-index-key": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-typos": 2,
    "react/no-string-refs": 2,
    "react/no-unescaped-entities": 2,
    "react/no-unused-prop-types": 2,
    "react/no-unused-state": 2,
    "react/no-will-update-set-state": 2,
    "react/prefer-es6-class": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-default-props": 2,
    "react/sort-comp": 2,
    "react/prefer-stateless-function": 2,
    "react/forbid-prop-types": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-static-element-interactions": 0
  }
}
